/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url("../img/bg-header-mobile.png") no-repeat;
  background-size: contain;
  background-position: center top;
}

@media only screen and (min-width: 992px) {
  body {
    background-image: url("../img/bg-header-desktop.png");
  }
}

.section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

.section__header {
  margin: 20px 30px;
}

.section__header .header__title {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.75em;
  color: #4c545d;
  margin-bottom: 18px;
}

@media only screen and (min-width: 992px) {
  .section__header .header__title {
    font-size: 1.875em;
  }
}

.section__header .header__subtitle {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #9fabb2;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media only screen and (min-width: 992px) {
  .section__header .header__subtitle {
    font-size: 1.125em;
  }
}

.section__body {
  margin-left: 30px;
  margin-right: 30px;
}

.section__body--list .list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__body--list .list__item + .list__item {
  margin-top: 20px;
}

.section__body--list .list__item .list__illustration {
  margin: 50px;
}

.section__body--list .list__item .list__title {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #4c545d;
  margin-bottom: 16px;
}

@media only screen and (min-width: 992px) {
  .section__body--list .list__item .list__title {
    font-size: 1.625em;
  }
}

.section__body--list .list__item .list__text {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #9fabb2;
  line-height: 1.5;
}

@media only screen and (min-width: 992px) {
  .section__body--list .list__item .list__text {
    font-size: 1.125em;
  }
}

.section__benefits .benefits__list {
  margin-top: 40px;
  margin-bottom: 40px;
}

.section__benefits .benefits__list .benefits__title {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: #4c545d;
  margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
  .section__benefits .benefits__list .benefits__title {
    font-size: 1.625em;
  }
}

.section__benefits .benefits__list .benefits__text {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #9fabb2;
  line-height: 1.5;
}

@media only screen and (min-width: 992px) {
  .section__benefits .benefits__list .benefits__text {
    font-size: 1.125em;
  }
}

.section--main {
  padding: 60px 0;
}

@media only screen and (min-width: 768px) {
  .section--main {
    display: block;
    padding: 80px 0;
  }
}

.section--main .main__image {
  margin: 30px auto;
  display: inline-block;
}

.section--main .main__text {
  text-align: center;
  margin: 30px auto;
}

@media only screen and (min-width: 992px) {
  .section--main .main__text {
    max-width: 600px;
  }
}

.section--main .main__text .main__title {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #4c545d;
  margin-bottom: 18px;
}

@media only screen and (min-width: 992px) {
  .section--main .main__text .main__title {
    font-size: 2.25em;
  }
}

.section--main .main__text .main__subtitle {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #9fabb2;
  line-height: 1.5;
}

@media only screen and (min-width: 992px) {
  .section--main .main__text .main__subtitle {
    font-size: 1.125em;
  }
}

@media only screen and (min-width: 768px) {
  .section--download {
    display: block;
    padding: 80px 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .buttons {
    max-width: none;
  }
}

.buttons__button {
  flex: 1 1 200px;
  max-width: 250px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.125em;
  color: white;
  background-color: #26baa4;
  padding: 16px;
  text-decoration: none;
  border-radius: 500px;
  box-shadow: inset 0 -3px 1px #1d907f, 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow .2s;
}

.buttons__button:hover {
  box-shadow: none;
}

.buttons__button--blue {
  background-color: #6173ff;
  box-shadow: inset 0 -3px 1px #475dff, 0 5px 10px rgba(0, 0, 0, 0.1);
}

.section--aside .aside__list {
  margin: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section--aside .aside__list .aside__item {
  max-width: 150px;
}

.section--aside .aside__list .aside__item + .aside__item {
  margin-top: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: #f5f6f8cc;
  padding: 60px 0;
}

@media only screen and (min-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px calc((100% - 1100px) / 2);
  }
}

.footer__image {
  max-width: 60px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 992px) {
  .footer__image {
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.footer__nav {
  text-align: center;
  margin-bottom: 50px;
}

@media only screen and (min-width: 992px) {
  .footer__nav {
    margin-bottom: 0;
    max-width: 450px;
  }
}

@media only screen and (min-width: 992px) {
  .footer__nav .nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: start;
    gap: 15px;
  }
}

.footer__nav .nav__list .nav__item + .nav__item {
  margin-top: 30px;
}

@media only screen and (min-width: 992px) {
  .footer__nav .nav__list .nav__item + .nav__item {
    margin-top: 0;
  }
}

.footer__nav .nav__list .nav__item .nav__link {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  color: #4c545d;
  text-decoration: none;
  padding: 10px;
  transition: color .2s;
}

.footer__nav .nav__list .nav__item .nav__link:hover {
  color: #26baa4;
}

.footer__contact {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 992px) {
  .footer__contact {
    justify-self: end;
    margin-right: 10px;
  }
}

.footer__contact .contact__item + .contact__item {
  margin-left: 20px;
}

.footer__contact .contact__item .contact__link {
  font-size: 1.75em;
  color: #4c545d;
  padding: 10px;
  transition: color .2s;
}

.footer__contact .contact__item .contact__link:hover {
  color: #26baa4;
}
