body {
  background: url('../img/bg-header-mobile.png') no-repeat;
  background-size: contain;
  background-position: center top;
  @include device(large) {
    background-image: url('../img/bg-header-desktop.png');
  }
}
.hidden {
  display: none;
}