.section {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include device(medium) {
    padding: 60px 0;
  }
  &__header {
    margin: 20px 30px;
    .header__title {
      @include typo(28, 600);
      color: $trout;
      margin-bottom: 18px;
      @include device(large) {
        font-size: em(30)
      }
    }
    .header__subtitle {
      @include typo(16);
      color: $hit-gray;
      line-height: 1.5;
      margin-bottom: 20px;
      @include device(large) {
        font-size: em(18)
      }
    }
  }
  &__body {
    margin-left: 30px;
    margin-right: 30px;
    &--list {
      .list__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        & + .list__item {
          margin-top: 20px;
        }
        .list__illustration {
          margin: 50px;
        }
        .list__title {
          @include typo(24, 600);
          color: $trout;
          margin-bottom: 16px;
          @include device(large) {
            font-size: em(26)
          }
        }
        .list__text {
          @include typo(16);
          color: $hit-gray;
          line-height: 1.5;
          @include device(large) {
            font-size: em(18)
          }
        }
      }
    }
  }
  &__benefits {
    .benefits__list {
      margin-top: 40px;
      margin-bottom: 40px;
      .benefits__title {
        @include typo(24, 600);
        color: $trout;
        margin-bottom: 10px;
        @include device(large) {
          font-size: em(26);
        }
      }
      .benefits__text {
        @include typo(16);
        color: $hit-gray;
        line-height: 1.5;
        @include device(large) {
          font-size: em(18);
        }
      }
    }
  }

  &--main {
    padding: 60px 0;
    @include device(medium) {
      display: block;
      padding: 80px 0;
    }
    .main__image {
      margin: 30px auto;
      display: inline-block;
    }
    .main__text {
      text-align: center;
      margin: 30px auto;
      @include device(large) {
        max-width: 600px
      }
      .main__title {
        @include typo(32, 600);
        color: $trout;
        margin-bottom: 18px;
        @include device(large) {
          font-size: em(36);
        }
      }
      .main__subtitle {
        @include typo(16);
        color: $hit-gray;
        line-height: 1.5;
        @include device(large) {
          font-size: em(18);
        }
      }
    }
  }
  &--download {
    @include device(medium) {
      display: block;
      padding: 80px 0;
    }
  }
}