@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$font: 'Bai Jamjuree', Arial, Helvetica, sans-serif;

$cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

@function em($pixels, $context: 16) {
  @return $pixels / $context + em;
}

@mixin typo($size, $weight) {
  font-family: $font;
  font-weight: $weight;
  font-size: em($size);
}