@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
$font: 'Bai Jamjuree', Arial, Helvetica, sans-serif;

$jungle-green: hsl(171, 66%, 44%);
$cornflower-blue: hsl(233, 100%, 69%);

$trout: hsl(212, 10%, 33%);
$hit-gray: hsl(201, 11%, 66%);

@function em($pixels, $context: 16) {
  @return $pixels / $context + em;
}

@mixin typo($size, $weight: 400) {
  font-family: $font;
  font-weight: $weight;
  font-size: em($size);
}

@mixin device($screen) {
  @if $screen == medium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $screen == large {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
}