/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.header__logo {
  padding-left: 30px;
}

.header__list {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.header__link {
  font-family: "Raleway", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  color: #070439;
  text-decoration: none;
  padding: 20px;
  transition: color .2s;
}

.header__link:hover {
  color: #3065f8;
}

.main {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.main__text {
  flex: 1 1;
  color: #070439;
  padding: 0 10px 0 30px;
}

.main__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}

.main__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.main__image {
  flex: 1 1;
  padding: 0 30px 0 10px;
}

.form {
  display: flex;
  max-width: 460px;
}

.form__input {
  border: 1px solid #585889;
  border-radius: 4px;
  padding: 10px 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  outline: none;
  color: #070439;
  flex: 2 1 120px;
  margin-right: 15px;
}

.form__input::placeholder {
  color: #bfbfbf;
}

.form__input--contact {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-right: 0;
  padding: 15px 20px;
  flex-basis: 0;
  margin-bottom: 15px;
  width: 100%;
}

.form__button {
  background-color: #3065f8;
  border: none;
  outline: none;
  border-radius: 4px;
  flex: 1 1 80px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  color: #f6f6fe;
  box-shadow: 0 2px 8px #bfbfbf;
  transition: background-color .2s;
}

.form__button:hover {
  background-color: #0945ec;
}

.form__button--contact {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  flex-basis: 0;
}

.form__button--contact:hover {
  background-color: #4978f8;
}

.form--contact {
  flex: 1;
  display: block;
  padding: 30px;
  flex-basis: 300px;
}

.wrapper::before {
  content: '';
  display: block;
  height: 100px;
  background: url("../img/bg-curve-desktop.svg") no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.productivity {
  padding: 30px calc((100% - 1400px) / 2) 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  background: #f6f6fe;
}

.productivity__text {
  flex: 1 1;
  color: #070439;
  padding: 0 10px 0 30px;
}

.productivity__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.125em;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}

.productivity__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-top: 18px;
  max-width: 522px;
  line-height: 1.5;
}

.productivity__link {
  display: flex;
  align-items: center;
  margin-top: 18px;
  text-decoration: none;
  color: #3c9f8f;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  max-width: 170px;
}

.productivity__arrow {
  margin-left: 6px;
}

.productivity__image {
  flex: 1 1;
  padding: 0 30px 0 10px;
}

.productivity .quote {
  box-sizing: border-box;
  max-width: 340px;
  padding: 25px;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.productivity .quote::before {
  content: '';
  width: 20px;
  height: 20px;
  display: block;
  background: url("../img/icon-quotes.svg") no-repeat;
  background-size: cover;
  margin: 5px 0 15px;
}

.productivity .quote__text {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  line-height: 2;
}

.productivity .quote__bottom {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.productivity .quote__picture {
  max-width: 35px;
  border-radius: 500px;
  margin-right: 10px;
}

.productivity .quote__cite {
  font-family: "Raleway", sans-serif;
  font-size: 0.75em;
  font-weight: 700;
}

.productivity .quote__span {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.83333em;
  font-weight: 400;
  margin-top: 5px;
}

.contact {
  padding: 40px calc((100% - 1400px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  background: #585889;
  color: #f6f6fe;
}

.contact__text {
  padding: 30px;
  flex-basis: 510px;
}

.contact__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  max-width: 510px;
  line-height: 1.5;
}

.footer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #070439;
  padding: 80px calc((100% - 1400px) / 2) 50px;
}

.footer__logo {
  padding-left: 30px;
}

.footer__bottom {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-left: 20px;
  padding-right: 20px;
  gap: 30px;
}

.footer__item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer__icon {
  margin-right: 20px;
}

.footer__link {
  color: #bfbfbf;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
  transition: color .2s;
}

.footer__link:hover {
  color: #3065f8;
}

.footer__social {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  gap: 20px;
}

.footer .social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bfbfbf;
  width: 45px;
  height: 45px;
  border: 2px solid;
  border-radius: 500px;
  text-decoration: none;
  font-size: 1.25em;
  transition: color .2s;
}

.footer .social__link:hover {
  color: #3065f8;
}
