.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, $soft-blue 0%, $soft-violet 90%);
}

.card {
  box-sizing: border-box;
  flex: 1;
  max-width: 1000px;
  padding: 50px 80px 50px 50px;
  background: url('../img/bg-pattern-desktop.svg') no-repeat;
  background-size: 500px;
  background-position: bottom -20px left -90px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include device(medium) {
    max-width: 900px;
    padding: 50px 30px 50px 0px;
  }
  @include box-shadow(0px 20px 20px transparentize($color: $dark-blue, $amount: 0.75));
  position: relative;
  .card-images {
    overflow: hidden;
    margin-left: -50px;
    @include device(medium) {
      margin-left: 0;
    }
    .box-img {
      position: absolute;
      top: 190px;
      left: -100px;
    }
    .illustration-desktop {
      margin-left: -70px;
  
    }
    .illustration-mobile {
      display: none;
    }
  }
}
.card-faq {
  max-width: 400px;
  > p {
    @include typo(32);
    font-weight: bold;
    margin-bottom: 12px;
  }

  .list-item ~ p {
    padding: 20px 0;
    border-bottom: 1px solid $divider;
  }
}