.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, $soft-blue 0%, $soft-violet 90%);
}

.card {
  min-height: 500px;
  box-sizing: border-box;
  flex: 1;
  max-width: 1000px;
  padding: 30px 60px 30px 30px;
  background: url('../img/bg-pattern-desktop.svg') no-repeat;
  background-size: 750px;
  background-position: bottom -100px left -350px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include device(medium) {
    max-width: 900px;
    padding: 50px 30px 50px 0px;
  }
  @include device(small) {
    max-width: 800px;
    flex: 1 1 280px;
    flex-direction: column;
    margin: 140px 20px 20px 20px;
    background-image: url('../img/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% -15px;
    padding: 0px 20px 20px;
  }
  @include box-shadow(0px 20px 20px transparentize($color: $dark-blue, $amount: 0.75));
  position: relative;
  .card-images {
    overflow: hidden;
    margin-left: -30px;
    @include device(medium) {
      margin-left: 0;
    }
    @include device(small) {
      overflow: visible;
    }
    .box-img {
      position: absolute;
      top: 185px;
      left: -100px;
      animation: box .9s linear 0s infinite alternate;
      @include device(small) {
        display: none;
      }
    }
    .illustration-desktop {
      margin-left: -70px;
      @include device(small) {
        display: none;
      }
    }
    .illustration-mobile {
      display: none;
      @include device(small) {
        display: block;
        margin: -110px 0 20px -30px;
      }
    }
  }
}
.card-faq {
  flex: 1 1 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  @include device(small) {
    align-items: center;
    flex-basis: auto;
    width: 100%;
  }
  > p {
    @include typo(32);
    color: $dark-blue;
    font-weight: bold;
    margin-bottom: 12px;
    @include device(small) {
      font-size: em(24);
    }
  }
  .faq-list {
    width: 100%;
    max-height: 350px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @include device(small) {
      max-height: unset;
    }  
  }
  .list-item {
    border-bottom: 1px solid $divider;
    .trigger-input {
      display: none;
      &:checked {
        ~ .checkbox-wrapper {
          label {
            font-weight: 700;
            img {
              transform: rotate(180deg);
            }
          }
          p {
            display: block;
          }
        }
      }
    }
    label {
      @include typo(16);
      color: $darker-grayish-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 20px 2px;
      cursor: pointer;
      transition: color .2s;
      &:hover {
        color: $soft-red;
      }
      @include device(small) {
        font-size: em(14);
      }
    }
    p {
      @include typo(14);
      color: $grayish-blue;
      padding: 0 0 15px 0;
      line-height: 1.5;
      display: none;
      @include device(small) {
        font-size: em(12);
      }
    }
  }
}

@keyframes box {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}