@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font: 'Kumbh Sans', Arial, Helvetica, sans-serif;


$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

$grayish-blue: hsl(240, 6%, 50%);
$darker-grayish-blue: hsl(237, 12%, 33%);
$divider: hsl(240, 5%, 91%);