.contact {
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 0 300px 0;
  text-align: center;
  @include device(small) {
    padding: 100px 0 150px 0;
  }
  .contact-title {
    @include typo(48);
    margin-bottom: 80px;
    span {
      color: $main-purple;
    }
    @include device(small) {
      font-size: em(36);
      margin-bottom: 40px;
    }
  }
  .contact-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .contact-text {
      padding: 0;
      flex: 1 1 300px;
      display: none;
      @include device(large) {
        padding: 10px;
        display: block;
      }
      p {
        margin: 0 auto;
        box-sizing: border-box;
        @include typo(24);
        line-height: 1.5;
        padding: 25px;
        border-radius: 5px;
        border: 1px solid $black;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        max-width: 470px;
      }
    }
    .contact-form {
      padding: 10px;
      flex: 1 1 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .contact-input {
        box-sizing: border-box;
        border-radius: 15px;
        border: 3px solid #6C63FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        @include typo(24);
        padding: 17px 35px;    
        transition: transform .2s;
        &:hover {
          transform: scale(1.03);
        }
        @include device(small) {
          font-size: em(18);
          padding: 20px;
        }
      }
      .contact-input + .contact-input {
        margin-top: 48px;
        @include device(small) {
          margin-top: 25px;
        }
      }
    }
  }
  .contact-button {
    cursor: pointer;
    margin-top: 50px;
    @include typo(36);
    color: $main-purple;
    background: $black;
    border: none;
    padding: 5px 60px;
    border-radius: 15px;
    transition: transform .2s;
    &:hover {
      transform: scale(1.03);
    }
    @include device(small) {
      font-size: em(24);
      margin-top: 20px;
    }
  }
}