.contact {
  padding: 40px calc((100% - 1400px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  background: $midnight-sea;
  color: $ghost-white;
  @include device(medium) {
    flex-direction: column;
  }
  &__text {
    padding: 30px;
    flex-basis: 510px;
    @include device(medium) {
      flex-basis: 0;
      text-align: center;
      padding-bottom: 10px
    }
    @include device(small) {
      padding: 30px 20px 10px;
    }
  }
  &__title {
    @include typo-1(30, 700);
    margin-bottom: 20px;
    @include device(small) {
      font-size: em(20);
    }
  }
  &__paragraph {
    @include typo-2(16);
    max-width: 510px;
    line-height: 1.5;
    @include device(medium) {
      max-width: 600px;
    }
    @include device(small) {
      font-size: em(14);
    }
  }
}