.footer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: $midnight-blue;
  padding: 80px calc((100% - 1100px) / 2) 50px;
  &__logo {
    padding-left: 30px;
  }
  &__bottom {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding-left: 20px;
    padding-right: 20px;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &__icon {
    margin-right: 20px;
  }
  &__link {
    color: $silver;
    text-decoration: none;
    @include typo-2(14);
    transition: color .2s;
    &:hover {
      color: $retro-blue;
    }
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 20px;
  }
  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $silver;
    width: 45px;
    height: 45px;
    border: 2px solid;
    border-radius: 500px;
    text-decoration: none;
    font-size: em(20);
    transition: color .2s;
    &:hover {
      color: $retro-blue;
    }
  }
}