.header {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  &__logo {
    padding-left: 30px;
    @include device(small) {
      max-width: 70px;
      padding-left: 20px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  &__link {
    @include typo-1(18);
    color: $midnight-blue;
    text-decoration: none;
    padding: 20px;
    transition: color .2s;
    &:hover {
      color: $retro-blue;
    }
    @include device(small) {
      padding: 10px;
      font-size: em(14);
    }
  }
}