.wrapper::before {
  content: '';
  display: block;
  height: 100px;
  background: url('../img/bg-curve-desktop.svg') no-repeat;
  background-size: cover;
  margin-top: 100px;
  @include device(medium) {
    background-image: url('../img/bg-curve-mobile.svg');
  }
}

.productivity {
  padding: 30px calc((100% - 1400px) / 2) 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
  background: $ghost-white;
  @include device(medium) {
    flex-direction: column;
    padding-bottom: 50px;
  }
  &__text {
    flex: 1 1;
    color: $midnight-blue;
    padding: 0 10px 0 30px;
    @include device(medium) {
      padding: 30px;
    }
  }
  &__title {
    @include typo-1(34, 700);
    line-height: 1.5;
    margin-bottom: 12px;
    @include device(medium) {
      text-align: center
    }
  }
  &__paragraph {
    @include typo-2(16);
    margin-top: 18px;
    max-width: 522px;
    line-height: 1.5;
    @include device(medium) {
      max-width: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: 18px;
    text-decoration: none;
    color: $marine-green;
    @include typo-2(16);
    padding-bottom: 5px;
    border-bottom: 1px solid;
    margin-bottom: 30px;
    max-width: 170px;
    transition: color .2s;
    &:hover {
      color: lighten($marine-green, 20%)
    }
    @include device(medium) {
      margin: 25px auto 40px;
    }
  }
  &__arrow {
    margin-left: 6px;
  }
  &__image {
    flex: 1 1;
    padding: 0 30px 0 10px;
    @include device(medium) {
      order: -1;
      padding: 30px;
    }
  }

  .quote {
    box-sizing: border-box;
    max-width: 340px;
    padding: 25px;
    background-color: white;
    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, .1);
    border-radius: 6px;
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      display: block;
      background: url('../img/icon-quotes.svg') no-repeat;    
      background-size: cover;
      margin: 5px 0 15px;
    }
    @include device(medium) {
      margin: 0 auto;
      max-width: 415px
    }
    &__text {
      @include typo-2(14);
      line-height: 2;
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }
    &__picture {
      max-width: 35px;
      border-radius: 500px;
      margin-right: 10px;
    }
    &__cite {
      @include typo-1(12, 700);
    }
    &__span {
      display: block;
      font-family: $font-2;
      font-size: em(10, 12);
      font-weight: 400;
      margin-top: 5px;
    }
  }
}