@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$font-1: 'Raleway', sans-serif;
$font-2: 'Open Sans', sans-serif;


$midnight-blue: hsl(243, 87%, 12%);
$midnight-sea: hsl(239, 22%, 44%);

$retro-blue: hsl(224, 93%, 58%);
$marine-green: hsl(170, 45%, 43%);

$ghost-white: hsl(240, 80%, 98%);
$silver: hsl(0, 0%, 75%);