@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

:root {
  --black: #242424;
  --yellow: #FCA60F;
  --brown: #C95E20;
}

body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  color: var(--black);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.15);
  padding: 20px 0;
}
.header-logo img {
  padding: 10px;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li a {
  font-size: 1.125em;
  padding: 10px;
  color: var(--black);
}

.body-wrapper {
  background: url('../img/formas.svg') no-repeat center center;
}
.hero {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  padding: 80px 10px;
  align-items: center;
}
.hero-text {
  max-width: 500px;
}
.hero-text h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 50px;
}
.hero-btn {
  display: inline-block;
  color: white;
  background-color: var(--yellow);
  padding: 12px 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 30px;
}
.social-list {
  display: flex;
  align-items: center;
}
.social-list li + li {
  margin-left: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}
.footer p {
  font-weight: bold;
  font-size: 1.125em;
}