@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

:root {
  --black: #242424;
  --yellow: #FCA60F;
  --brown: #C95E20;
}

body, h1, ul, li, p {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
body {
  color: var(--black);
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: url('../img/formas.svg') no-repeat center center;
}
@media screen and (max-width: 705px) {
  body {
    background: url('../img/formas-mobile.svg') no-repeat center center;
  }
}

.header-container {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header {
  box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.15);
  padding: 20px 0;
  background-color: white;
}
.header-logo img {
  padding: 10px;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li a {
  display: inline-block;
  font-size: 1.125em;
  padding: 10px;
  color: var(--black);
  transition: color .2s;
}
.header-nav ul li a:hover {
  color: var(--yellow);
}
.header-nav ul li + li {
  margin-left: 25px;
}
@media screen and (max-width: 510px) {
  .container {
    flex-direction: column;
  }
}

.hero {
  margin: 0 auto;
  max-width: 1120px;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
}
.hero-text {
  max-width: 500px;
  flex-shrink: 2;
  padding: 0 10px;
}
.hero-text h1 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 50px;
}
.hero-img {
  flex-shrink: 1;
  padding: 0 10px;
}
.hero-btn {
  display: inline-block;
  color: white;
  background-color: var(--yellow);
  padding: 12px 50px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 30px;
  text-align: center;
  transition: transform .2s;
}
.hero-btn:hover {
  transform: scale(1.05);
}
.social-list {
  display: flex;
  align-items: center;
}
.social-list li + li {
  margin-left: 15px;
}
.social-list a img {
  transition: transform .2s;
}
.social-list a:hover img {
  transform: scale(1.1);
}

.footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px
}
.footer p {
  font-weight: bold;
  font-size: 1.125em;
}
@media screen and (max-width: 510px) {
  .hero-text h1 {
    margin-bottom: 25px;
  }
  .hero-text {
    text-align: center;
    display: flex;
    box-sizing: border-box;
    height: calc(100vh - 160px);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .hero-btn {
    padding: 12px 30px;
  }
  .footer, .hero-img {
    display: none;
  }
}