.button {
  text-decoration: none;
  background-color: $drunken-flamingo;
  color: white;
  @include typo-2(14, 600);
  border-radius: 500px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, .1);
  padding: 15px 25px;
  transition: background-color .2s;
  cursor: pointer;
  &:hover {
    background-color: $pink-delight;
  }
  &--outline {
    padding: 8px 20px;
    font-weight: 400;
    background-color: white;
    color: $drunken-flamingo;
    border: 1px solid;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    transition: background-color .2s, color .2s, border-color .2s;
    &:hover {
      background-color: $pink-delight;
      color: white;
      border-color: $pink-delight;
    }
  }
}