.hero {
  padding: 80px 30px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device(medium) {
    padding-left: 70px;
    padding-right: 70px;
  }
  &__text {
    margin-bottom: 80px;
    text-align: center;
    color: $daintree;
  }
  &__title {
    @include typo-1(26);
    line-height: 1.5;
    margin-bottom: 20px;
  }
  &__subtitle {
    @include typo-2(15, 400);
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &__button {
    display: block;
    max-width: 170px;
    margin: 0 auto;
    @include device(medium) {
      max-width: 205px;
    }
  }
}