/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  background-color: #ecf2f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container .grid {
  padding: 30px 50px;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  grid-auto-flow: dense;
}

@media only screen and (max-width: 1006px) {
  .container .grid {
    padding: 40px 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .container .grid {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 50px 20px;
  }
}

.container .grid .card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 15px -2px #cfcfcf;
  color: white;
  transition: transform .2s, box-shadow .2s;
}

.container .grid .card:hover {
  transform: scale(1.02);
  box-shadow: 5px 7px 15px 2px #cfcfcf;
}

.container .grid .card .card-top {
  display: flex;
  align-items: center;
}

.container .grid .card .card-top .img {
  max-width: 30px;
}

.container .grid .card .card-top .img img {
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.26);
}

.container .grid .card .card-top .info {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 0.8125em;
  font-weight: 600;
  margin-left: 20px;
}

.container .grid .card .card-top .info p {
  margin-top: 5px;
  opacity: 50%;
}

.container .grid .card .card-body h1 {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
  margin: 10px 0 20px 0;
  line-height: 1.2;
}

.container .grid .card .card-body p {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  font-size: 0.8125em;
  font-weight: 500;
  opacity: 70%;
  line-height: 1.5;
}

.container .grid .card.daniel {
  grid-area: 1 / 1 / 2 / 3;
  background: url("../img/bg-pattern-quotation.svg") no-repeat top 0% right 18%;
  background-color: #7541c8;
}

@media only screen and (max-width: 1006px) {
  .container .grid .card.daniel {
    grid-area: 1 / 1 / 2 / 3;
    background-position: top 0% right 5%;
  }
}

@media only screen and (max-width: 500px) {
  .container .grid .card.daniel {
    grid-area: auto;
    background-position: top 0% right 3%;
    order: 1;
  }
}

.container .grid .card.jonathan {
  background-color: #48556a;
  grid-area: 1 / 3 / 2 / 4;
}

@media only screen and (max-width: 1006px) {
  .container .grid .card.jonathan {
    grid-area: auto;
  }
}

@media only screen and (max-width: 500px) {
  .container .grid .card.jonathan {
    grid-area: auto;
    order: 2;
  }
}

.container .grid .card.kira {
  grid-area: 1 / 4 / 3 / 5;
  background-color: white;
  color: #48556a;
}

@media only screen and (max-width: 1006px) {
  .container .grid .card.kira {
    grid-area: 2 / 2 / 4 / 3;
  }
}

@media only screen and (max-width: 500px) {
  .container .grid .card.kira {
    grid-area: auto;
    order: 5;
  }
}

.container .grid .card.jeanette {
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  color: #48556a;
}

@media only screen and (max-width: 1006px) {
  .container .grid .card.jeanette {
    grid-area: auto;
  }
}

@media only screen and (max-width: 500px) {
  .container .grid .card.jeanette {
    grid-area: auto;
    order: 3;
  }
}

.container .grid .card.patrick {
  grid-area: 2 / 2 / 3 / 4;
  grid-column: span 2;
  background-color: #19212e;
}

@media only screen and (max-width: 1006px) {
  .container .grid .card.patrick {
    grid-area: auto;
    grid-column: 1 / 3;
  }
}

@media only screen and (max-width: 500px) {
  .container .grid .card.patrick {
    grid-area: auto;
    order: 4;
  }
}
