@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --red: #D6000D;
}
img {
  display: block;
  max-width: 100%;
}
ul, li, p, blockquote, h1, h2, h4 {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-weight: bold;
  font-size: 2.25em;
  font-style: italic;
  color: var(--red);
  padding: 10px;
}
.logo span {
  color: black;
}
.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-menu li a {
  font-size: 1.125em;
  padding: 10px;
  color: black;
}
.header-menu li a.btn {
  color: white;
  background: var(--red);
  border-radius: 10px;
  padding: 10px 50px;
  margin-right: 10px;
}

.main {
  max-width: 1080px;
  margin: 0 auto;
}

.hero {
  padding: 60px 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.hero-img {
  padding: 10px;
  flex: 1 1 350px;
}
.hero-text {
  padding: 10px;
  flex: 1 1 300px;
}
.hero-text h1 span {
  font-size: 2.125em;
  color: var(--red);
  line-height: 0.9;
}
.hero-text h1 p {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 10px;
}
.hero-text a {
  display: inline-block;
  margin-top: 24px;
  background: var(--red);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.125em;
  padding: 10px 50px;
  text-align: center;
}

.benefits {
  padding: 60px 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits-list {
  padding: 10px;
  font-size: 1.5em;
  flex: 1 1 300px;
}
.benefits-list i {
  color: var(--red);
}
.benefits-list li + li {
  margin-top: 15px;
}
.benefits-img {
  flex: 1 1 350px;
  padding: 10px;
}

.call {
  padding: 20px 0;
  max-width: 960px;
  margin: 0 auto;
}
.call form {
  display: flex;
  flex-wrap: wrap;
}
.call-text {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px;
}
.call-input, .call-button {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  border-radius: 10px;
  padding: 15px 24px;
  border: none;
  outline: none;
  flex: 1 1 250px;
  max-width: 250px;
  margin: 10px;
}
.call-input {
  background: #DCDCDC;
  color: rgba(0, 0, 0, 0.5);
}
.call-button {
  background: var(--red);
  color: white;
  cursor: pointer;
}