@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --red: #D6000D;
}
img {
  display: block;
  max-width: 100%;
}
body, ul, li, p, blockquote, h1, h2, h4 {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}

.header {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-weight: bold;
  font-size: 2.25em;
  font-style: italic;
  color: var(--red);
  padding: 10px;
}
.logo span {
  color: black;
}
.header-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header-menu li a {
  font-size: 1.125em;
  padding: 10px;
  color: black;
  transition: all .2s;
}
.header-menu li a:hover {
  opacity: .6;
}
.header-menu li a.btn {
  color: white;
  background: var(--red);
  border-radius: 10px;
  padding: 10px 50px;
  margin-right: 10px;
}
@media screen and (max-width: 511px) {
  .header-menu li a.btn {
    display: none;
  }
}
@media screen and (max-width: 357px) {
  .header {
    flex-direction: column;
  }
}

.main {
  max-width: 1080px;
  margin: 0 auto;
}

.hero {
  padding: 60px 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.hero-img {
  padding: 10px;
  flex: 1 1 350px;
}
.hero-text {
  padding: 10px;
  flex: 1 1 300px;
}
.hero-text h1 span {
  font-size: 2.125em;
  color: var(--red);
  line-height: 0.9;
}
.hero-text h1 p {
  font-size: 1.25rem;
  color: black;
  margin-bottom: 10px;
}
.hero-text a {
  display: inline-block;
  margin-top: 24px;
  background: var(--red);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.125em;
  padding: 10px 50px;
  text-align: center;
  transition: transform .2s;
}
.hero-text a:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 719px) {
  .hero-img {
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero-text {
    text-align: center;
  }
}

.benefits {
  padding: 60px 0 10px 0;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits-list {
  padding: 10px;
  font-size: 1.5em;
  flex: 1 1 300px;
}
.benefits-list i {
  color: var(--red);
}
.benefits-list li + li {
  margin-top: 15px;
}
.benefits-img {
  flex: 1 1 350px;
  padding: 10px;
}
@media screen and (max-width: 695px) {
  .benefits {
    flex-direction: column;
  }
  .benefits-img {
    order: -1;    
    padding-left: 50px;
    padding-right: 50px;
  }
}

.call {
  padding: 5px 0 20px 0;
  max-width: 960px;
  margin: 0 auto;
}
.call form {
  display: flex;
  flex-wrap: wrap;
}
.call-text {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px;
}
.call-input, .call-button {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  border-radius: 10px;
  padding: 15px 24px;
  border: none;
  outline: none;
  flex: 1 1 250px;
  max-width: 250px;
  margin: 10px;
}
.call-input {
  background: #DCDCDC;
  color: rgba(0, 0, 0, 0.5);
}
.call-button {
  background: var(--red);
  color: white;
  cursor: pointer;
  transition: transform .2s;
}
.call-button:hover {
  transform: scale(1.05);
}

.quotes {
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 10px 60px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.quotes-quote {
  background: #DCDCDC;
  border-radius: 10px;
  display: flex;
  padding: 20px;
  gap: 20px;
  flex: 1 1 360px;
}
.quote-img {
  flex: 0 1 100px;
}
.quote-img img {
  border-radius: 50%;
  width: 100px;
}
.quote-text {
  flex: 2 1 400px;
}
.quote-text cite {
  display: block;
  margin-top: 12px;
  font-size: 1.4em;
  font-style: normal;
}
.quote-text cite span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.footer {
  background: black;
  color: white;
  padding: 60px calc((100% - 1080px) / 2);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items: center;
}
.footer a {
  color: white;
}
.footer-section {
  flex-basis: 190px;
  margin: 0 10px 30px;
}
.footer-section h2 {
  font-size: 2.25em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
}
.footer-section h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.contacts-list li + li {
  margin-top: 16px;
}
.contacts-list li a:hover {
  text-decoration: underline;
}
.social-list {
  display: flex;
  justify-content: space-between;
  font-size: 2.25em;
}
.social-list li a {
  color: var(--red);
  transition: color .2s;
}
.social-list li a:hover {
  color: #d6000ebe;
}