@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --red: #D6000D;
}
img {
  display: block;
  max-width: 100%;
}
ul, li, p, blockquote, h1, h2, h4 {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}