.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}
.no-scroll {
  overflow: hidden;
}
button, .cta {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 35px;
  font-size: em(14);
  background: linear-gradient(to right, $lime-green, $bright-cyan);
  color: $white;
  border-radius: 50px;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  &:hover {
    opacity: .75;
  }
}
h1, h2, h3 {
  color: $dark-blue;
  font-weight: 300;
  line-height: 1.15;
}
p {
  color: $grayish-blue;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 36px;
  @include breakpoint-up(large) {
    font-size: em(18);
  }
}
h1 {
  font-size: em(37);
  margin-bottom: 24px;
  @include breakpoint-up(large) {
    font-size: em(52);
  }
}
h2 {
  font-size: em(30);
  margin-bottom: 25px;
  @include breakpoint-up(large) {
    font-size: em(36);
    margin-bottom: 36px;
  }
}