.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none !important;
  }
}
.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none !important;
  }
}
.no-scroll {
  overflow: hidden;
}