@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%); 
  --light-blue: hsl(246, 25%, 77%);
}

body, h1, p, form, input, button {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--red);
  background-image: url('../img/bg-intro-desktop.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;
}
h1 {
  font-size: 2.75em;
  line-height: 1.2;
}
.form-top span {
  font-weight: 600;
}
.form-input {
  font-family: 1.125em;
  color: var(--dark-blue);
  font-weight: 700;
}
.form-footer a {
  color: var(--red);
  font-weight: 600;
}
}