@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%); 
  --light-blue: hsl(246, 25%, 77%);
}

body, h1, p, form, input, button {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

body {
  background-color: var(--red);
  background-image: url('../img/bg-intro-desktop.png');
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;
}
h1 {
  font-size: 2.75em;
  line-height: 1.2;
}
.form-top span {
  font-weight: 600;
}
.form-input {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: var(--dark-blue);
  font-weight: 500;
}
.form-footer {
  color: var(--light-blue);
}
.form-footer a {
  color: var(--red);
  font-weight: 600;
}

.container {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.intro {
  max-width: 500px;
  flex: 1;
  padding-left: 30px;
  padding-right: 30px;
}
.intro h1 {
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 30px;
}
.form-top {
  box-sizing: border-box;
  text-align: center;
  display: block;
  background-color: var(--blue);
  padding: 15px 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 7px 1px rgba(0, 0, 0, 0.17);
  margin-bottom: 25px;
}
.form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 7px 1px rgba(0, 0, 0, 0.17);
  max-width: 600px;
}
form {
  display: flex;
  flex-direction: column;
}
.input-container {
  position: relative;
}
.input-container ~ .input-container{
  margin-top: 20px;
}
.form-label {
  display: none;
}
.form-input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 20px;
  border-radius: 8px;
  border: 1px solid var(--light-blue);
  background-color: transparent;
  outline: none;
  transition: border-color .2s, box-shadow .2s, color .2s;
  position: relative;
}
.form-input::placeholder {
  color: var(--light-blue);
}
.form-input:focus, .form-input:hover {
  border-color: var(--dark-blue);
}
.form-input:valid {
  color: var(--green);
}
.form-input:focus:valid {
  border-color: transparent;
  box-shadow: 0px 0px 1px 2px var(--green);
  color: var(--green);
}
.form-input:invalid {
  color: var(--red);
}
.form-input:focus:invalid {
  border-color: transparent;
  box-shadow: 0px 0px 1px 2px var(--red);
  color: var(--red);
}
.form-input:focus:invalid::after {
  position: absolute;
  top: 0;
  right: 0;
  content: url(../img/icon-error.svg);
  width: 24px;
  height: 24px;
}
.valid-icon {
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: opacity .3s;
}
.form-input:focus:invalid + .valid-icon {
  opacity: 1;
}
.btn {
  outline: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  cursor: pointer;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
  color: white;
  border: none;
  padding: 17px 20px;
  border-radius: 8px;
  text-align: center;
  background: var(--green);
  font-size: 1.1em;
  letter-spacing: 1px;
  box-shadow: inset 0px -4px 1px rgba(0, 0, 0, 0.17);
  transition: opacity .2s;
}
.btn:hover {
  opacity: 0.7;
}
.form-footer {
  text-align: center;
  font-size: 0.7em;
  margin: 0 30px;
}
.form-footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .intro, .form-container {
    margin: 0 auto;
  }
  .intro {
    text-align: center;
    margin-bottom: 60px;
    flex: 0;
  }
}

@media only screen and (max-width: 500px) {
  body {
    background-image: url('../img/bg-intro-mobile.png');
  }
  .intro h1 {
    font-size: 2em;
    margin: 15px auto;
  }
}