@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap");
body, h1, ul, li, p, input, form, button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  pointer-events: none;
  user-select: none;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input, button {
  outline: none;
}

ul, li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: url("../img/drawing.svg") no-repeat;
  background-position: top 0% right 0%;
  background-size: 250px;
}

.header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

@media only screen and (max-width: 595px) {
  .header {
    padding: 20px 0;
    flex-direction: column;
  }
}

.header .logo {
  padding: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo span {
  color: #6C63FF;
}

@media only screen and (max-width: 595px) {
  .header .logo {
    font-size: 2.25em;
    margin-bottom: 20px;
  }
}

.header .header-menu ul {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 595px) {
  .header .header-menu ul {
    flex-direction: column;
    text-align: center;
  }
}

.header .header-menu ul li a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #000000;
  padding: 10px;
}

.header .header-menu ul li a:hover {
  box-shadow: inset 0 -0.1em #000;
}

.header .header-menu ul li + li {
  margin-left: 20px;
}

@media only screen and (max-width: 595px) {
  .header .header-menu ul li + li {
    margin-left: 0;
    margin-top: 20px;
  }
}

.hero {
  padding: 50px 0 60px 0;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 595px) {
  .hero {
    flex-direction: column;
  }
}

.hero .hero-img {
  flex: 1 1 201px;
  max-width: 500px;
  padding: 0 10px;
}

@media only screen and (max-width: 595px) {
  .hero .hero-img {
    max-width: 275px;
  }
}

.hero .hero-text {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  padding: 0 10px;
  margin-right: 30px;
}

@media only screen and (max-width: 595px) {
  .hero .hero-text {
    order: -1;
    margin-right: 0;
    margin-bottom: 20px;
    font-size: 2.25em;
  }
}

.hero .hero-text span {
  color: #6C63FF;
}

.contact {
  max-width: 960px;
  margin: 0 auto;
  padding: 100px 0 300px 0;
  text-align: center;
}

.contact .contact-title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 80px;
}

.contact .contact-title span {
  color: #6C63FF;
}

.contact .contact-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.contact .contact-top .contact-text, .contact .contact-top .contact-form {
  padding: 10px;
  flex: 1 1 300px;
}

.contact .contact-top .contact-text p {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 470px;
}

.contact .contact-top .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .contact-top .contact-form .contact-input {
  box-sizing: border-box;
  border-radius: 15px;
  border: 3px solid #6C63FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 17px 35px;
  transition: transform .2s;
}

.contact .contact-top .contact-form .contact-input:hover {
  transform: scale(1.03);
}

.contact .contact-top .contact-form .contact-input + .contact-input {
  margin-top: 48px;
}

.contact .contact-button {
  cursor: pointer;
  margin-top: 50px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 2.25em;
  font-weight: 700;
  color: #6C63FF;
  background: #000000;
  border: none;
  padding: 5px 60px;
  border-radius: 15px;
  transition: transform .2s;
}

.contact .contact-button:hover {
  transform: scale(1.03);
}

.footer {
  padding: 100px calc((100% - 960px) / 2);
  background-color: #6C63FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-list li a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 1.875em;
  font-weight: 700;
  color: #000000;
  padding: 10px;
}

.footer .footer-list li a:hover {
  text-decoration: underline;
}

.footer .footer-list li + li {
  margin-top: 20px;
}

.footer .logo {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 4em;
  font-weight: 700;
  padding: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
