.benefits {
  padding: 100px 20px;
  @include device(medium) {
    margin: 0 auto;
    max-width: 550px;
  }
  @include device(large) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    max-width: 1100px;
    justify-items: center;
    align-items: center;
    gap: 100px;
  }
  .benefits-item {
    & + .benefits-item {
      margin-top: 50px;
      @include device(large) {
        margin-top: 0;
      }
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include device(large) {
      max-width: 400px;
    }
    .benefits-text {
      h3 {
        @include typo-1(20, 700);
        margin: 20px 0 10px 0;
        @include device(medium) {
          font-size: em(24);
        }
        @include device(large) {
          margin: 30px 0 20px 0;
        }
      }
      p {
        @include typo-2(16, 400);
        line-height: 1.5;
        @include device(medium) {
          font-size: em(18);
        }
      }
    }
  }
}