.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.contact {
  position: absolute;
  top: -240px;
  padding: 0 20px;
  align-self: center;
  @include device(medium) {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include device(large) {
    top: -200px;
  }
  .contact-card {
    background-color: $dark-blue1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    @include device(large) {
      padding: 50px;
    }
    h3 {
      @include typo-1(20, 700);
      margin-bottom: 20px;
      @include device(medium) {
        font-size: em(24);
      }
      @include device(large) {
        font-size: em(30);
      }
    }
    p {
      @include typo-2(14, 400);
      line-height: 1.5;
      margin-bottom: 40px;
      @include device(medium) {
        font-size: em(16);
      }
    }
    form {
      display: flex;
      flex-direction: column;
      @include device(large) {
        flex-direction: row;
      }
      input {
        @include typo-2(14, 400);
        color: rgba(black, $alpha: 0.8);
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 15px 23px;
        border-radius: 100px;
        outline: none;
        border: none;
        flex: 1;
        @include device(medium) {
          font-size: em(16);
        }
        @include device(large) {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
      .btn {
        padding: 15px 23px;
      }
    }
  }
}