.footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-blue3;
  padding: 200px 20px 40px 20px;
  @include typo-2(16, 400);
  line-height: 1.5;
  @include device(medium) {
    font-size: em(18);
  }
  @include device(large) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 200px calc((100% - 1300px) / 2) 40px;
  }
  .logo {
    margin-left: 10px;
    @include device(large) {
      margin-left: 30px;
    }
  }
  .footer-bottom {
    @include device(large) {
      display: grid;
      grid-template-columns: 2fr 1.25fr 1fr 1fr 1fr;
      align-items: start;
      justify-items: center;
      gap: 30px;
      padding: 0 20px;
    }
    .location {
      margin: 30px 0 20px 0;
      display: flex;
      align-items: flex-start;
      img {
        margin-top: 8px;
        width: 18px;
      }
      p {
        margin-left: 10px;
      }
      @include device(large) {
        padding-left: 10px;
      }
    }
    .contact-list li {
      display: flex;
      align-items: flex-start;
      margin: 20px 0;
      img {
        margin-top: 5px;
        width: 18px;
      }
      p {
        margin-left: 10px;
        a {
          text-decoration: none;
          color: $white;
          &:hover {
            font-weight: 700;
            text-decoration: underline;
          }
        }
      } 
    }
    .nav-list {
      margin-top: 50px;
      @include device(large) {
        margin-top: 0;
      }
      & + .nav-list {
        margin-top: 30px;
        margin-bottom: 50px;
        @include device(large) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      li {
        & + li {
          margin-top: 8px;
        }
        a {
          text-decoration: none;
          color: $white;
          &:hover {
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }
    }
    .social-list {
      display: flex;
      justify-content: center;
      li a {
        font-size: em(20);
        margin: 10px;
        width: 20px;
        height: 20px;
        text-decoration: none;
        color: $white;
        padding: 13px;
        border: 2px solid;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color .2s;
        &:hover {
          color: $cyan;
        }
      }
    }
  }
}