.header {
  padding: 30px 0;
  background-color: $dark-blue1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    padding: 10px 20px;
    max-width: 100px;
    @include device(medium) {
      max-width: 150px;
    }
  }
  nav ul {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    li a {
      display: inline-block;
      padding: 10px;
      @include typo-1(14, 400);
      color: $white;
      text-decoration: none;
      &:hover {
        font-weight: 700;
        text-decoration: underline;
      }
      @include device(medium) {
        font-size: em(18);
      }
    }
  }
  @include device(medium) {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px calc((100% - 800px) / 2);
  }
}