.productivity {
  padding: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device(medium) {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  @include device(large) {
    flex-direction: row;
    max-width: 1200px;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .productivity-img {
    margin-bottom: 40px;
    @include device(medium) {
      margin-bottom: 50px;
    }
    @include device(large) {
      margin-bottom: 0;
      margin-right: 40px;
      flex: 1 1;
      max-width: 600px;
    }
  }
  .productivity-text {
    @include device(large) {
      flex: 1 1;
    }
    h1 {
      @include typo-1(20, 700);
      line-height: 1.5;
      margin-bottom: 20px;
      @include device(medium) {
        font-size: em(24);
      }
      @include device(large) {
        font-size: em(36);
        margin-bottom: 20px;
      }
      max-width: 300px;
    }
    p {
      @include typo-2(16, 400);
      line-height: 1.5;
      margin-bottom: 20px;
      @include device(medium) {
        font-size: em(18);
      }
      @include device(large) {
        margin-bottom: 30px;
      }
    }
    a {
      @include typo-2(16, 400);
      text-decoration: none;
      display: flex;
      align-items: center;
      color: $cyan;
      padding-bottom: 10px;
      border-bottom: 1px solid currentColor;
      max-width: 170px;
      transition: color .2s;
      &:hover {
        color: $white;
      }
      @include device(medium) {
        font-size: em(18);
        max-width: 189px;
      }
      img {
        margin-left: 8px;
        display: inline-block;
      }
    } 
  }
}