.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 350px 30px;
  background: url('../img/bg-quotes.png') no-repeat top 20px left 20px;
  background-size: 40px;
  @include device(medium) {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    background-size: 50px;
  }
  @include device(large) {
    max-width: 1200px;
    background-size: 60px;
    background-position: top 10px left 10px;
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
  }
  .quote-card {
    background-color: $dark-blue4;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    & + .quote-card {
      margin-top: 30px;
      @include device(medium) {
        margin-top: 45px;
      }
      @include device(large) {
        margin-top: 0;
        margin-left: 30px;
      }
    }
    > p {
      @include typo-2(14, 400);
      line-height: 1.5;
      margin-bottom: 25px;
      @include device(medium) {
        font-size: em(18);
        margin-bottom: 30px;
      }
    }
    .quote-bottom {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        width: 40px;
        @include device(medium) {
          width: 50px;
        }
      }
      cite {
        @include typo-2(14, 700);
        margin-left: 15px;
        @include device(medium) {
          font-size: em(18);
        }
        span {
          margin-top: 10px;
          display: block;
          font-weight: 400;
          font-size: em(10, 14);
          opacity: 80%;
          @include device(medium) {
            font-size: em(14, 18);
          }
        }
      }
    }
  }
}