$dark-blue1: hsl(217, 28%, 15%);
$dark-blue2: hsl(218, 28%, 13%);
$dark-blue3: hsl(216, 53%, 9%);
$dark-blue4: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);