@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap');

$font-1: 'Raleway', Arial, Helvetica, sans-serif;
$font-2: 'Open Sans', Arial, Helvetica, sans-serif;


$dark-blue1: hsl(217, 28%, 15%);
$dark-blue2: hsl(218, 28%, 13%);
$dark-blue3: hsl(216, 53%, 9%);
$dark-blue4: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$light-red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

@function em($pixels, $context: 16) {
  @return $pixels / $context + em;
}

@mixin typo-1($size, $weight) {
  font-family: $font-1;
  font-size: em($size);
  font-weight: $weight;
}
@mixin typo-2($size, $weight) {
  font-family: $font-2;
  font-size: em($size);
  font-weight: $weight;
}

@mixin device($screen) {
  @if $screen == medium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $screen == large {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
}