/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #181f2a;
  color: white;
}

.btn {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  background: linear-gradient(135deg, #65e2d9 0%, #339ecc 100%);
  border-radius: 100px;
}

.header {
  padding: 30px 0;
  background-color: #1c2431;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  padding: 10px 20px;
  max-width: 100px;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
}

.header nav ul li a {
  display: inline-block;
  padding: 10px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.header nav ul li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/bg-curvy-mobile.svg") no-repeat;
  background-position: bottom 0 center;
  background-size: 200%;
  background-color: #1c2431;
  padding: 10px 30px;
}

.hero .hero-img {
  margin-bottom: 20px;
}

.hero .hero-text {
  text-align: center;
}

.hero .hero-text h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
}

.hero .hero-text h2 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 15px 0;
}
