/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  display: block;
  max-width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #181f2a;
  color: white;
}

.btn {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 50px;
  background: linear-gradient(135deg, #65e2d9 0%, #339ecc 50%);
  border-radius: 100px;
  border: none;
  outline: none;
  transition: transform .2s, box-shadow .2s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.header {
  padding: 30px 0;
  background-color: #1c2431;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .logo {
  padding: 10px 20px;
  max-width: 100px;
}

@media only screen and (min-width: 768px) {
  .header .logo {
    max-width: 150px;
  }
}

.header nav ul {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.header nav ul li a {
  display: inline-block;
  padding: 10px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.header nav ul li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .header nav ul li a {
    font-size: 1.125em;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px calc((100% - 800px) / 2);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../img/bg-curvy-mobile.svg") no-repeat;
  background-position: bottom -5px center;
  background-size: 200%;
  background-color: #1c2431;
  padding: 10px 30px;
}

.hero .hero-img {
  margin-bottom: 20px;
}

.hero .hero-text {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero .hero-text {
    max-width: 700px;
  }
}

.hero .hero-text h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .hero .hero-text h1 {
    font-size: 1.875em;
  }
}

.hero .hero-text h2 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin: 15px 0;
}

@media only screen and (min-width: 768px) {
  .hero .hero-text h2 {
    font-size: 1.125em;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px calc((100% - 800px) / 2);
  }
}

.benefits {
  padding: 100px 20px;
}

.benefits .benefits-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.benefits .benefits-item + .benefits-item {
  margin-top: 50px;
}

.benefits .benefits-item .benefits-text h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin: 20px 0 10px 0;
}

@media only screen and (min-width: 768px) {
  .benefits .benefits-item .benefits-text h3 {
    font-size: 1.5em;
  }
}

.benefits .benefits-item .benefits-text p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .benefits .benefits-item .benefits-text p {
    font-size: 1.125em;
  }
}

@media only screen and (min-width: 768px) {
  .benefits {
    margin: 0 auto;
    max-width: 550px;
  }
}

.productivity {
  padding: 0 20px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productivity .productivity-img {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .productivity .productivity-img {
    margin-bottom: 50px;
  }
}

.productivity .productivity-text h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .productivity .productivity-text h1 {
    font-size: 1.5em;
  }
}

.productivity .productivity-text p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .productivity .productivity-text p {
    font-size: 1.125em;
  }
}

.productivity .productivity-text a {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #65e2d9;
  padding-bottom: 10px;
  border-bottom: 1px solid currentColor;
  max-width: fit-content;
  transition: color .2s;
}

.productivity .productivity-text a:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .productivity .productivity-text a {
    font-size: 1.125em;
  }
}

.productivity .productivity-text a img {
  margin-left: 8px;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .productivity {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 350px 30px;
  background: url("../img/bg-quotes.png") no-repeat top 20px left 20px;
  background-size: 40px;
}

.quotes .quote-card {
  background-color: #202a3c;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.quotes .quote-card + .quote-card {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .quotes .quote-card + .quote-card {
    margin-top: 45px;
  }
}

.quotes .quote-card > p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .quotes .quote-card > p {
    font-size: 1.125em;
    margin-bottom: 30px;
  }
}

.quotes .quote-card cite {
  display: flex;
  align-items: center;
}

.quotes .quote-card cite img {
  border-radius: 50%;
  width: 40px;
}

@media only screen and (min-width: 768px) {
  .quotes .quote-card cite img {
    width: 50px;
  }
}

.quotes .quote-card cite p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  margin-left: 15px;
}

@media only screen and (min-width: 768px) {
  .quotes .quote-card cite p {
    font-size: 1.125em;
  }
}

.quotes .quote-card cite p span {
  margin-top: 10px;
  display: block;
  font-weight: 400;
  font-size: 0.71429em;
  opacity: 80%;
}

@media only screen and (min-width: 768px) {
  .quotes .quote-card cite p span {
    font-size: 0.77778em;
  }
}

@media only screen and (min-width: 768px) {
  .quotes {
    max-width: 800px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    background-size: 50px;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact {
  position: absolute;
  top: -240px;
  padding: 0 20px;
  align-self: center;
}

.contact .contact-card {
  background-color: #1c2431;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.contact .contact-card h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 20px;
}

.contact .contact-card p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
}

.contact .contact-card form {
  display: flex;
  flex-direction: column;
}

.contact .contact-card form label {
  display: none;
}

.contact .contact-card form input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 15px 23px;
  border-radius: 100px;
  outline: none;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #0b1523;
  padding: 200px 20px 40px 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

.footer .logo {
  margin-left: 10px;
}

.footer .location {
  margin: 30px 0 20px 0;
  display: flex;
  align-items: flex-start;
}

.footer .location img {
  margin-top: 8px;
  width: 18px;
}

.footer .location p {
  margin-left: 10px;
}

.footer .contact-list li {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}

.footer .contact-list li img {
  margin-top: 5px;
  width: 18px;
}

.footer .contact-list li p {
  margin-left: 10px;
}

.footer .contact-list li p a {
  text-decoration: none;
  color: white;
}

.footer .contact-list li p a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.footer .nav-list {
  margin-top: 50px;
}

.footer .nav-list + .nav-list {
  margin-top: 30px;
  margin-bottom: 50px;
}

.footer .nav-list li + li {
  margin-top: 8px;
}

.footer .nav-list li a {
  text-decoration: none;
  color: white;
}

.footer .nav-list li a:hover {
  font-weight: 700;
  text-decoration: underline;
}

.footer .social-list {
  display: flex;
  justify-content: center;
}

.footer .social-list li a {
  font-size: 1.25em;
  margin: 10px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color .2s;
}

.footer .social-list li a:hover {
  color: #65e2d9;
}
