@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue: #4E5BEE;
  --red: #FF5757;
  --grey: #F8F8F8;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  background: var(--blue);
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
header img {
  width: 180px;
  margin-top: 10vh;
}
.input-container {
  position: relative;
}
.input-container label {
  position: absolute;
  left: 20px;
  top: 15px;
  color: white;
}
.input-container input {
  border-radius: 25px;
  background: transparent;
  outline: none;
  border: 2px solid white;
  padding: 15px 15px 15px 50px;
  color: white;
  font-size: 1.125em;
}
.input-container + .input-container {
  margin-top: 20px;
}
.login-btn {
  margin-top: 30px;
  font-size: 1.125em;
  width: 100%;
  padding: 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  color: #504F60;
  font-weight: bold;
  transition: background .2s;
}
.login-btn:hover {
  background-color: #ececec;
}
}