@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --blue: #4E5BEE;
  --red: #FF5757;
  --grey: #F8F8F8;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  background: var(--blue);
  font-family: 'Roboto', sans-serif;
}