.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cta {
  position: absolute;
  top: -110px;
  padding: 0 15px;
  align-self: center;
  &__card {
    box-shadow: 1px 1px 10px 4px rgba($prophetic-sea, .1);
    border-radius: 16px;
    padding: 40px 20px;
    text-align: center;
    background: white;
    @include device(medium) {
      padding: 40px 100px;
    }
  }
  &__title {
    @include typo-1(18);
    color: $daintree;
    @include device(medium) {
      font-size: em(22);
    }
    @include device(large) {
      font-size: em(26);
    }
  }
  &__button {
    margin: 30px auto 0px;
    max-width: 250px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    @include typo-1(12);
    background-color: $drunken-flamingo;
    padding: 15px;
    border-radius: 500px;
    box-shadow: 1px 1px 10px 4px rgba($prophetic-sea, .1);
    transition: background-color .2s;
    &:hover {
      background-color: lighten($drunken-flamingo, 10%);
    }
    @include device(medium) {
      font-size: em(14);
    }
    @include device(large) {
      margin-top: 40px;
      padding: 20px 30px;
    }
  }
}