.footer {
  background: $daintree;
  padding: 100px 15px 40px;
  @include device(medium) {
    padding-top: 130px;
  }
  @include device(large) {
    max-width: 1400px;
    margin: 0 auto;
    padding: 130px calc((100% - 1400px) / 2) 40px;
  }
  &__logo {
    filter: brightness(0) invert(1);
    max-width: 180px;
    margin-bottom: 30px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    @include device(large) {
      display: grid;
      grid-template-columns: 1.5fr 2fr 1fr;
      gap: 20px;
      justify-items: center;
    }
  }
  &__list {
    margin-bottom: 20px;
    @include device(large) {
      display: grid;
      grid-template-columns: repeat(2, 120px);
      column-gap: 30px;
    } 
    &--contact {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      @include device(large) {
        margin-top: 15px;
      }
      .footer__link {
        padding: 0;
      }
      .footer__item + .footer__item {
        margin-top: 30px;
      }
      .footer__text, .footer__link {
        @include typo-2(14, 400);
        color: white;
      }
      .footer__text {
        line-height: 1.5;
      }
    }
  }
  &__item {
    display: flex;
    align-items: flex-start;
  }
  &__icon {
    margin-right: 20px;
    &--location {
      margin-top: 5px;
    }
  }
  &__link {
    text-decoration: none;
    @include typo-2(16, 400);
    color: white;
    padding: 15px 15px 15px 0;
    &:hover {
      text-decoration: underline;
    }
  }

  &__social {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, 37px);
    justify-items: center;
    margin-bottom: 20px;
    gap: 10px;
    @include device(large) {
      align-self: auto;
      margin-top: 15px;
      justify-self: start;
    }
  }
  .social__link {
    text-decoration: none;
    font-size: em(16);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 500px;
    border: 1px solid;
    transition: color .2s;
    &:hover {
      color: $drunken-flamingo;
    }
  }
  
  &__copy {
    text-align: center;
    @include typo-2(10, 400);
    color: white;
    @include device(large) {
      text-align: right;
      font-size: em(12);
    }
  }
}