.header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    max-width: 130px;
  }
  &__button {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    background-color: white;
    color: $daintree;
    @include typo-1(14);
    padding: 8px 30px 10px;
    border-radius: 500px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .1);
  }
}