.header {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include device(large) {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__logo {
    max-width: 130px;
    @include device(medium) {
      max-width: 200px;
    }
    @include device(large) {
      max-width: none;
    }
  }
  &__button {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    background-color: white;
    color: $daintree;
    @include typo-1(14);
    padding: 8px 30px 10px;
    border-radius: 500px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .1);
    text-align: center;
    transition: box-shadow .2s;
    &:hover {
      box-shadow: 1px 3px 5px rgba(0, 0, 0, .1),
                  0 0 0px 2px $drunken-flamingo;
    }
    @include device(medium) {
      padding-left: 40px;
      padding-right: 40px;
      font-size: em(16);
    }
  }
}