@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
$font-1: 'Poppins', Arial, Helvetica, sans-serif;
$font-2: 'Open Sans', Arial, Helvetica, sans-serif;


$drunken-flamingo: hsl(322, 100%, 66%);

$aphrodites-pearls: hsl(192, 100%, 96%);
$daintree: hsl(192, 100%, 9%);
$prophetic-sea: hsl(209, 11%, 55%);


@function em($pixels, $context: 16) {
  @return $pixels / $context + em;
}

@mixin typo-1($size) {
  font-family: $font-1;
  font-size: em($size);
  font-weight: 600;
}
@mixin typo-2($size, $weight) {
  font-family: $font-2;
  font-size: em($size);
  font-weight: $weight;
}

@mixin device($screen) {
  @if $screen == medium {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @else if $screen == large {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
}