@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
$font: 'Barlow Semi Condensed', Arial, Helvetica, sans-serif;

$violet: hsl(263, 55%, 52%);
$dark-blue: hsl(217, 19%, 35%);
$darker-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$light-gray: hsl(0, 0%, 81%);
$grayish-blue: hsl(210, 46%, 95%);

@function em($pixels, $context: 16) {
  @return $pixels / $context + em;
}

@mixin typo($size, $weight) {
  font-family: $font;
  font-size: em($size);
  font-weight: $weight;
}

@mixin device($size) {
  @if $size == medium {
    @media only screen and (max-width: 1006px) {
      @content;
    }
  }
  @else if $size == small {
    @media only screen and (max-width: 500px) {
      @content;
    }
  }
}