@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}
body, h1, p, ul, li {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  background: url('../img/bg-desktop.svg') no-repeat center center;
  background-color: var(--violet);
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: white;
  background-size: cover;
}
h1 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25em;
}
}