@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --green: #5CA720;
  --dark-grey: #161616;
  --light-grey: #A5A1A1;
  --lighter-grey: #F9F9F9;
}
body, ul, li, p, h2 {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.header {
  max-width: 1440px;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  padding: 20px;
}
.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu-nav ul li + li {
  margin-left: 5px;
}
.menu-nav ul li a {
  display: block;
  padding: 20px;
}
.menu-nav ul li a img {
  width: 21px;
  transition: opacity .2s;
}
.menu-nav ul li a:hover img {
  opacity: 0.5;
}

.banner {
  padding: 85px;
  background: url('../img/banner.png') center center no-repeat;
}
.banner img {
  margin: 0 auto;
  font-weight: bold;
  text-transform: uppercase;
}