@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --orange: #D2872C;
  --gray: #766F68;
}
body, h1, p, ul, li, img {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.header .logo {
  color: var(--orange);
  font-size: 1.875em;
  font-weight: bold;
  padding: 20px 10px;
}
.header-nav ul {
  display: flex;
  align-items: center;
}
.header-nav ul li a {
  display: inline-block;
  padding: 10px;
  font-size: 1.125em;
  color: var(--gray);
  transition: opacity .2s;
}
.header-nav ul li + li {
  margin-left: 10px;
}
.header-nav ul li a:hover {
  opacity: .8;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  color: var(--gray);
  justify-content: space-between;
}
.content-text {
  flex-basis: 500px;
  margin-top: 50px;
}
.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}
.content-text p {
  margin-bottom: 20px;
  font-size: 1.25em;
}
.call-to-action {
  display: inline-block;
  padding: 15px 50px;
  background: var(--orange);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  transition: all .2s;
  font-size: 1.125em;
  outline: none;
}
.call-to-action:hover {
  background-color: #c27d29;
  transform: scale(1.05);
}
.hero {
  width: calc(100% - 300px);
}
