@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --black: #0C0B0B;
  --grey: #0F0E0E;
  --white: #B7B7B7;
  --green: #046313;
  --blue: #044A7D;
  --yellow: #725200;
}
body, h1, p, ul, li {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
img {
  max-width: 100%;
  display: block;
}
body {
  color: var(--white);
  background-color: var(--black);
  font-family: 'Rubik', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  flex: 1;
  max-width: 1000px;
  background: var(--grey);
  padding: 50px;
}
.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.top-info-left {
  display: flex;
  align-items: center;
}
.top-info-left a:hover {
  text-decoration: underline;
}
.img img {
  width: 96px;
  border-radius: 50px;
}
.name {
  margin-left: 15px;
}
.top-info-right a {
  background-color: #1B1B1B;
  padding: 10px;
  font-size: 1.125em;
  border-radius: 5px;
}

.infos {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}
.infos li {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
}
.infos li p {
  font-size: 2.125em;
  font-weight: bold;
}
.infos li:first-child {
  background-color: var(--green);
}
.infos li:nth-child(2) {
  background-color: var(--blue);
}
.infos li:last-child {
  background-color: var(--yellow);
}