@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --black: #0C0B0B;
  --grey: #0F0E0E;
  --white: #B7B7B7;
  --green: #046313;
  --blue: #044A7D;
  --yellow: #725200;
}